* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
}

.title {
    text-align: center;
}

.status {
    margin: 3vmin auto 0;
    width: 80vmin;
    display: flex;
    justify-content: space-between;
    height: 10vmin;
    line-height: 5vmin;
}

.status > * {
    min-width: 10vmin;
}

#status-message {
    text-align: center;
    font-size: 1.5em;
}

#status-score {
    text-align: right;
    font-size: 2.5em;
    line-height: 10vmin;
}

#main {
    margin: 5vmin auto 0;
    width: 60vmin;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 2.5vmin;
}

.field {
    width: 10vmin;
    height: 10vmin;
    border: 1px solid black;

    font-size: 3rem;
    text-align: center;
    line-height: 10vmin;
}

.field-present {
    background: rgba(253, 207, 21, .6)
}

.field-guessed {
    background: rgba(3, 193, 0, .6)
}

.field-empty {
    background: rgba(215, 215, 215, .6);
}
